{
    "extends": ["airbnb", "plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "env": {
        "browser": true,
        "jest": true
    },
    "ignorePatterns": ["node_modules/"],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"]
            }
        }
    },
    "rules": {
        "react/jsx-filename-extension": [
            "warn",
            { "extensions": [".js", ".jsx"] }
        ],
        "react/jsx-props-no-spreading": "warn",
        "react/jsx-no-useless-fragment": "warn",
        "react/forbid-prop-types": "warn",
        "react/function-component-definition": "warn",
        "react/require-default-props": "warn",
        "react/no-unstable-nested-components": "warn",
        "react/prop-types": "warn",
        "react/destructuring-assignment": "warn",
        "no-param-reassign": "warn",
        "no-unused-vars": "warn"
    }
}
